@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
}

body {
  max-width: 60rem;
  margin: 0 auto;
}

.content {
  padding-left: 6rem;
  padding-right: 6rem;
}

.card-title > a {
  color: #3b82f6 !important;
}

.react-pdf__Page__canvas {
  margin: 0 auto;
  width: 50%;
}
