@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", "inter", sans-serif;
  color: rgb(255 255 255);
}

.sticky-nav {
  background-color: inherit;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}

nav,
.App {
  background-color: rgb(27, 27, 27);
}

nav {
  box-sizing: border-box;
  width: 80vw;
  margin: 0 auto;
  max-width: 50rem;
}

.nav-link {
  color: #868686 !important;
}

.nav-link:hover {
  color: #ffffff !important;
}

.content {
  max-width: 50rem;
  margin: 0 auto;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.section-heading {
  font-weight: 800;
  padding-bottom: 0.75rem;
  border-bottom-width: 1px;
  border-bottom-color: rgb(156, 163, 175);
  font-size: 2.25rem;
  line-height: 2.5rem;
  text-transform: uppercase;
}

.card-title,
.blue-theme {
  color: #3671f2 !important;
}

.desc-container {
  border-radius: 1.5rem;
  border-color: rgb(107, 103, 103);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  background-color: #2f2d2d;
  padding-block: 25px;
  padding-inline: 30px;
  margin-bottom: 2.5rem;
}

.content-desc {
  text-align: justify;
}

.react-pdf__Page__canvas {
  margin: 0 auto;
  width: 50%;
}

.css-15qp7aj-TimelineContentContainer.horizontal {
  min-width: 300px !important;
  max-width: 500px;
  padding-top: 20px;
}

ul.timeline-controls * {
  color: #747474;
}

.timeline-item-title {
  color: #ffffff;
}

.timeline-item-title.active {
  color: white !important;
}

.timeline-card-content.active > header {
  padding-left: 7px;
  padding-top: 10px;
}

span.show-more * {
  color: black;
}

.flag > p > span {
  font-size: 1.5rem;
  line-height: 2rem;
}

.content a:hover {
  text-decoration: underline;
}

.projectName:hover:after {
  content: " ↗︎";
}

.carousel-item > img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .carousel {
    margin-right: 5rem;
    margin-left: 5rem;
  }
}

#quote > p {
  color: rgb(205, 210, 220) !important;
}
